In [ ]:
%load_ext sql
%sql sqlite://

In [ ]:
%%sql
INSERT INTO Users VALUES('ASDFAF', 'ASDF@GMAIL.COM');
INSERT INTO Users VALUES('QWREQWT', 'QWER@GMAIL.COM');

 * sqlite://
1 rows affected.
1 rows affected.

[]

In [ ]:
%sql SELECT * from Users

 * sqlite://
Done.

[('ASDFAF', 'ASDF@GMAIL.COM'), ('QWREQWT', 'QWER@GMAIL.COM')]